// --------------------------
// VARIABLES
// --------------------------
$maincolor: rgb(65, 65, 65);
$contrastcolor: #c2c6e8;

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin black-test-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}
html,body {
    min-height: 100%;
}
body {
    margin: 0;
    background-color: #4532d1;
    background: linear-gradient(#4532d1, #010209);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #c2c6e8;
    font-family: "Helvetica";
}

// --------------------------
// Header
// --------------------------

nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding-left: 1em;

    a {
        @include white-text-black-bg;
        transition-duration: .4s;
        &:hover {
            @include black-test-white-bg;
        }

        div {
            margin: 10px;
            font-size: large;
        }
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00000064;
    a {
        text-decoration: none;
        color: #c2c6e8;
        transition-duration: .4s;
        &:hover {
            @include white-text-black-bg;
        }
    }
}

// --------------------------
// Form
// --------------------------

section,
.person {
    button {
        border: none;
    }
    span {
        display: flex;
        justify-content: center;
    }

    form {
        input {
            @include white-text-black-bg;
            padding: 10px;
            font-size: 1.1em;
            margin: 10px;
            border: none;
            transition-duration: .4s;
            margin-bottom: 5em;

            &:hover {
                @include black-test-white-bg;
            }

            &[type="submit"]:hover {
                @include black-test-white-bg;
            }
        }
    }
}

// --------------------------
// button
// --------------------------

button {
    @include white-text-black-bg;
    display: block;
    margin: 5px;
    font-size: 1.3em;
    padding: 10px 20px;
    transition-duration: .4s;
    &:hover {
        background-color: white;
        color: $maincolor;
    }
}

// -----------------------------
// IMAGES
// -----------------------------
img {
    width: 200px;
    height: auto;
    border-radius: 50px;
    object-fit: cover;
    box-shadow: 0 0 10px 1px #c2c6e8;
}

hr {
    width: 50%;
}

.link {
    text-decoration: inherit;
    color: inherit;
}

.charDisplay {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.person {
    margin: 0 3em;
}